body
{
  background-color: #222;
}

.section-heading 
{
  border: 3px solid rgb(33, 128, 249);
  padding: -5px;
  color: white;
}

.cal-hour, .cal-event, .cal-label
{
  font-size: 1em;
}

.cal-day
{
  font-size: 1.2em;
}

.cal-day, .cal-hour
{
  color: rgb(33, 128, 249);
}

.cal-label
{
  color: rgb(171,35,37);
}

.weekday
{
  color: white;
}

.cal-event
{
  background-color: gray;
  color: white;
}

.cal-event:hover{
background-color: #ed7950;
}

.cal-subject
{
  font-weight: bold;
}

.cal-space
{
  text-align: right;
}

.col-md-3 > a
{
  text-decoration: none;
}
