body
{
  background-color: #222;
}

.section-heading 
{
  border: 5px solid rgb(33, 128, 249);
  color: white;
  letter-spacing: 10px;
  padding-bottom: 10px;
}

.cal-hour, .cal-event, .cal-label
{
  font-size: 1em;
}

.cal-day, .cal-hour
{
  color: rgb(33, 128, 249);
}

.cal-day
{
  font-size: 1.2em;
}

.cal-label
{
  color: rgb(171,35,37);
}

.cal-event
{
  background-color: rgb(54, 54, 54);
  color: white;
  padding: 5px 10px 5px 10px;
}

.cal-event:hover
{
  background-color: #ed7950;
}

.cal-subject
{
  font-weight: bold;
}

.cal-space
{
  text-align: right;
}

.weekday
{
  color: white;
}

.col-md-3 > a
{
  text-decoration: none;
}
