#events {
    background-color: #333;
}

.events-carousel {
    height: 400px;
}

.events-status {
    color: #fff;
    text-align: center;
    font-family: "Helvetica Neue", "Open Sans", Helvetica,Arial,sans-serif;
}

.events-circle div {
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #fff;
    margin: 0 auto;
    cursor: pointer;
}

.events-circle div:hover,
.events-circle div:focus {
    width: 12px;
    height: 12px;
}

@media(min-width: 992px) {
    .event-day:not(.last-circle) .events-circle::after {
        content: "";
        position: absolute;
        height: 10px;
        border-bottom: 1px solid #fff;
        left: 50%;
        width: 100%;
        cursor: auto;
    }
}

@media(max-width: 992px) {
    .events-circle {
        margin: 5px auto;
    }
}
