body {
    background-color: #333333;
}

.event-roll {
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.event-roll p {
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}

p.event-type {
    color: red;
    font-size: 14px;
}

p.event-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 100%;
}

p.event-location {
    font-size: 14px;
}

.event-container {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    padding: 40px;
    background: #2083ca; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #2083ca 0%, #2083ca 50%, #3b8bc4 51%, #3b8bc4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2083ca), color-stop(50%,#2083ca), color-stop(51%,#3b8bc4), color-stop(100%,#3b8bc4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #2083ca 0%,#2083ca 50%,#3b8bc4 51%,#3b8bc4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #2083ca 0%,#2083ca 50%,#3b8bc4 51%,#3b8bc4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #2083ca 0%,#2083ca 50%,#3b8bc4 51%,#3b8bc4 100%); /* IE10+ */
    background: linear-gradient(135deg,  #2083ca 0%,#2083ca 50%,#3b8bc4 51%,#3b8bc4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2083ca', endColorstr='#3b8bc4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.event-container img {
    max-width: 70%;
    max-height: 70%;
    display: block;
    margin: auto;
}

.event-description {
    text-align: justify;
    max-width: 100%;
    max-height: 100%;
}

.event-description p {
    text-align: left;
    font-weight: bold;
}
