#events {
    background-color: #333;
}

.events-carousel {
    height: 400px;
}

<<<<<<< Updated upstream
.events-status {
    color: #fff;
    text-align: center;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.events-circle {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #E0E0E0;
    margin: 0 auto;
    /*cursor: pointer;*/
}

.events-circle a:hover + .events-circle,
.events-circle a:focus + .events-circle{
    width: 12px;
    height: 12px;
    background-color: #fff;
    transition: all 0.2s ease;
}

@media(min-width: 992px) {
    .events-circle:not(#last-circle)::after {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 1px solid #E0E0E0;
        left: 50%;
        width: 100%;
        cursor: auto;
    }
}

@media(max-width: 992px) {
    .events-circle {
        margin: 5px auto;
    }
}
