.organization-carousel {
    height: 450px;
}

.organization-title {
    float: left;
}

.staff {
    position: relative;
    padding: 0px;
}

.staff-pic {
    position: relative;
    padding: 0px;
}

.staff-info-container {
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.staff-info {
    color: #fff;
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    /*background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0, rgb(0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0)));
    background-image: -o-linear-gradient(top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0));*/
    background-color: rgba(158, 158, 158, 0.8);
    text-align: center;
    transition: top 0.2s ease;
    -webkit-transition: top 0.2s ease;
    -o-transition: top 0.2s ease;
    -moz-transition: top 0.2s ease;
    text-transform: uppercase;
}

.staff-name {
    font-weight: bold;
    font-size: 18px;
    color: #212121;
    letter-spacing: 2px;
    margin-top: 22%;
    margin-bottom: 15%;
}

.staff-position {
    line-height: 100%;
    color: #424242;
    margin-bottom: 15%;
}

.staff-info .social-buttons {
    margin-bottom: 10%;
}

.staff-info ul.social-buttons li a {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 18px;
    line-height: 30px;
}

.staff-info-container:hover .staff-info,
.staff-info-container:focus .staff-info {
    top: 0;
}

.organization-indicators{
    text-align: center;
}

.organization-indicators div.rn-carousel-indicator span{
    font-size: 20px;
    color: #0098ff;
}
div.organization-indicators span:hover,
div.organization-indicators span.active {
    font-size: 24px;
    color: #0098ff;
}

.organization-indicators .rn-carousel-controls span.rn-carousel-control{
    font-size: 26px;
    color: #0098ff;
}
