#partners
{
  background: url(../img/background_parceiros.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: scroll;
  color: #fff;
}

#partners-heading
{
  border: 5px solid;
  letter-spacing: 0.3em;
  padding-bottom: 10px;
}

.partners-header
{
 margin: 20px 0 10px 0;
 overflow: hidden;
}

.partners-header span {
  line-height: 0.5;
  display: inline-block;
  position: relative;  
}
.partners-header span:before,
.partners-header span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid;
  top: 0;
  width: 400px;
}
.partners-header span:before {
  right: 100%;
  margin-right: 15px;
}
.partners-header span:after {
  left: 100%;
  margin-left: 15px;
}

.partner-img
{
  max-width: 60%;
  max-height: 60%;
}